.skills {
    padding: 50px 0;
    @media (max-width: 992px) {
            padding: 20px 0;
    }
}

.skills__row {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    @media (max-width: 767px) {
            gap: 0;
            margin: 0 -10px;
    }
}

.column {
    flex: 0 1 20%;
    @media (max-width: 767px) {
            flex: 0 1 50%;
            margin-bottom: 20px;
            padding: 0 10px;
    }
    @media (max-width: 480px) {
            flex: 0 1 100%;
    }
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item__icon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.7rem;
  transition:all 0.2s linear;
  &:hover{
  transform:scale(1.2);
  }
  img{
    max-width: 100%;
    object-fit: cover;
  }
}

.item__label {
    text-transform: uppercase;
    font-weight: 600;

}

.item__description {
    text-align: center;
}

