.skills {
    padding: 50px 0;
    @media (max-width: 992px) {
            padding: 20px 0;
    }
}

.skills__row {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    @media (max-width: 767px) {
            gap: 0;
            margin: 0 -10px;
    }
}

.column {
    flex: 0 1 20%;
    @media (max-width: 767px) {
            flex: 0 1 50%;
            margin-bottom: 20px;
            padding: 0 10px;
    }
    @media (max-width: 480px) {
            flex: 0 1 100%;
    }
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item__icon {
    border: 1px solid #FAFF66;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-bottom: 10px;
}

.item__label {
    text-transform: uppercase;
    font-weight: 600;

}

.item__description {
    text-align: center;
}

